body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 60px;
    background-color: #f7f9fc;  
  }
  
  h1 {
    font-size: 36px;
    color: #080808;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    background: linear-gradient(90deg, #007BFF, #00c6ff);
    padding: 20px 30px;
    border-radius: 15px;
    margin: 40px auto 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
     width: 90%;  
  }
  
  button {
    padding: 12px 24px;
    font: bold 18px 'Poppins', sans-serif;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #007BFF, #00c6ff);
    color: rgb(11, 11, 11);
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 40px;
        transition: background 0.3s ease;
     }    
    button:hover {
        background: linear-gradient(135deg, #d455e5, #0099cc);
      }